/*body*/
body {
    display: grid;
    grid-template-areas:
      'header header'
      'menu   content'
      'footer footer';
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 5rem 1fr 3rem;
    font-family: Arial;
    font-size: 20px;
  }
  /*header*/
  header {
    grid-area: header;
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .topnav-right {
	float: right;
  }

  /*article*/
  article {
    grid-area: content;
    background-image: green;
    text-align: center;
  }
  .columnn {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .containerr {
    padding: 0 16px;
  }
  
  .containerr::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  /*aside*/
  aside {
    grid-area: menu;
    background-color: #45a049;
  }
  h3{
    color: white;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .div1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
/*footer*/
  footer {
    grid-area: footer;
    background-color: #333 ;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
}
.colophon {
	padding: 2em;
	background: #3E454C;
	color: white;
}

.colophon a {
	color: white;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}
/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container3 {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.container {
	padding: 0 16px;
}

.container::after,
.row::after {
	content: "";
	clear: both;
	display: table;
}
.registerbtn {
	background-color: #f53e19;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.registerbtn:hover {
	opacity: 1;
}

a {
	color: dodgerblue;
}

.signin {
	background-color: #f1f1f1;
	text-align: center;
}
  
  @media (max-width: 600px) {
    body {
      grid-template-areas:
        'header'
        'menu'
        'content'
        'footer';
      grid-template-columns: 1fr;
      grid-template-rows: 5rem auto 1fr 3rem;
    }
    .colophon {
			grid-column: span 8;
		}
    .columnn {
      width: 100%;
      display: block;
    }
  }